### Dependancies

In [53]:
import pandas as pd
from IPython.display import display

### Renaming columns

In [47]:
# Column names
parameters = {
    'Num_Acc' : 'accident_id',
    'an'    : 'year',
    'mois'  : 'month',
    'jour'  : 'day',
    'hrmn'  : 'hour_min',
    'lum'   : 'lightning',
    'agg'   : 'localisation',
    'int'   : 'type_of_intersection',
    'atm'   : 'atmospheric_condition',
    'col'   : 'type_of_collision',
    'com'   : 'muncipality?',
    'adr'   : 'postal_address',
    'gps'   : 'gps_code',
    'lat'   : 'latitude',
    'long'  : 'longitude',
    'dep'   : 'department?'
}

# 


data_in = pd.read_csv('Dataset/caracteristics.csv', index_col=False, dtype='unicode', encoding='latin-1')
data_in.columns = [parameters[col] for col in data_in.columns]
data_in.head()

,accident_id,year,month,day,hour_min,lightning,localisation,type_of_intersection,atmospheric_condition,type_of_collision,muncipality?,postal_address,gps_code,latitude,longitude,department?
0,201600000001,16,2,1,1445,1,2,1,8,3,5,"46, rue Sonneville",M,0,0,590
1,201600000002,16,3,16,1800,1,2,6,1,6,5,1a rue du cimetière,M,0,0,590
2,201600000003,16,7,13,1900,1,1,1,1,6,11,NaN,M,0,0,590
3,201600000004,16,8,15,1930,2,2,1,7,3,477,52 rue victor hugo,M,0,0,590
4,201600000005,16,12,23,1100,1,2,3,1,3,11,rue Joliot curie,M,0,0,590

In [48]:
temp = data_in.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 839985 entries, 0 to 839984
Data columns (total 16 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   accident_id            839985 non-null  object
 1   year                   839985 non-null  object
 2   month                  839985 non-null  object
 3   day                    839985 non-null  object
 4   hour_min               839985 non-null  object
 5   lightning              839985 non-null  object
 6   localisation           839985 non-null  object
 7   type_of_intersection   839985 non-null  object
 8   atmospheric_condition  839930 non-null  object
 9   type_of_collision      839974 non-null  object
 10  muncipality?           839983 non-null  object
 11  postal_address         699443 non-null  object
 12  gps_code               366226 non-null  object
 13  latitude               362471 non-null  object
 14  longitude              362467 non-null  object
 15  department?            839985 non-null  object
dtypes: object(16)
memory usage: 102.5+ MB

### Checking for missing values

In [56]:
df_temp = pd.DataFrame()

for col in data_in.columns:
    null_count = data_in[col].isnull().sum()
    total_count = null_count + data_in[col].count()
    percentage = round((null_count/total_count)*100, 2)
    df_temp = df_temp.append({'column': col, 'null_count': null_count, 'total_count': total_count, 'percentage': percentage}, ignore_index=True)
    # print(F"NULL- COUNT: {null_count}, TOTAL-COUNT: {total_count}, PERCENTAGE: {percentage}")
    # print(f'Percentage of missing values in {col}: {percentage}')

display(df_temp)

                   column  null_count  total_count  percentage
0             accident_id         0.0     839985.0        0.00
1                    year         0.0     839985.0        0.00
2                   month         0.0     839985.0        0.00
3                     day         0.0     839985.0        0.00
4                hour_min         0.0     839985.0        0.00
5               lightning         0.0     839985.0        0.00
6            localisation         0.0     839985.0        0.00
7    type_of_intersection         0.0     839985.0        0.00
8   atmospheric_condition        55.0     839985.0        0.01
9       type_of_collision        11.0     839985.0        0.00
10           muncipality?         2.0     839985.0        0.00
11         postal_address    140542.0     839985.0       16.73
12               gps_code    473759.0     839985.0       56.40
13               latitude    477514.0     839985.0       56.85
14              longitude    477518.0     839985.0       56.85
15            department?         0.0     839985.0        0.00